/* Proxima Nova*/

/*Regular*/

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url('../fonts/ProximaNova/Regular/mark_simonson_-_proxima_nova_regular-webfont.eot');
  src: url('../fonts/ProximaNova/Regular/mark_simonson_-_proxima_nova_regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova/Regular/mark_simonson_-_proxima_nova_regular-webfont.woff') format('woff'),
  url('../fonts/ProximaNova/Regular/mark_simonson_-_proxima_nova_regular-webfont.ttf') format('truetype'),
  url('../fonts/ProximaNova/Regular/mark_simonson_-_proxima_nova_regular-webfont.svg#proximanovaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*Light*/

@font-face {
  font-family: 'ProximaNovaLight';
  src: url('../fonts/ProximaNova/Light/mark_simonson_-_proxima_nova_light-webfont.eot');
  src: url('../fonts/ProximaNova/Light/mark_simonson_-_proxima_nova_light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova/Light/mark_simonson_-_proxima_nova_light-webfont.woff') format('woff'),
  url('../fonts/ProximaNova/Light/mark_simonson_-_proxima_nova_light-webfont.ttf') format('truetype'),
  url('../fonts/ProximaNova/Light/mark_simonson_-_proxima_nova_light-webfont.svg#proximanovalight') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*Bold*/

@font-face {
  font-family: 'ProximaNovaBold';
  src: url('../fonts/ProximaNova/Bold/mark_simonson_-_proxima_nova_bold-webfont.eot');
  src: url('../fonts/ProximaNova/Bold/mark_simonson_-_proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova/Bold/mark_simonson_-_proxima_nova_bold-webfont.woff') format('woff'),
  url('../fonts/ProximaNova/Bold/mark_simonson_-_proxima_nova_bold-webfont.ttf') format('truetype'),
  url('../fonts/ProximaNova/Bold/mark_simonson_-_proxima_nova_bold-webfont.svg#proximanovabold') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*Thin*/

@font-face {
  font-family: 'ProximaNovaThin';
  src: url('../fonts/ProximaNova/Thin/ProximaNovaThin.otf');
  font-weight: normal;
  font-style: normal;
}

/*icomoon*/
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon/icomoon.eot?-a9shj3');
  src:url('../fonts/icomoon/icomoon.eot?#iefix-a9shj3') format('embedded-opentype'),
  url('../fonts/icomoon/icomoon.woff?-a9shj3') format('woff'),
  url('../fonts/icomoon/icomoon.ttf?-a9shj3') format('truetype'),
  url('../fonts/icomoon/icomoon.svg?-a9shj3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}