@include keyframe (let_the_technology) {
  0% {
    opacity: 0;
  }

  10%,
  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@include keyframe (disappear) {
  0%,
  20% {
    opacity: 0;
  }

  65%,
  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@include keyframe (opacity) {
  0% {
    opacity: 0;
  }

 100% {
    opacity: 1;
  }
}

@-webkit-keyframes translateY {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
}
@-moz-keyframes translateY {
  0% {
    -moz-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0); }
}
@-o-keyframes translateY {
  0% { -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -o-transform: translateY(0);
    transform: translateY(0); }
}
@keyframes translateY {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}